.typewriter {
  position: absolute;
  top: 0;
  left: 0;
  font-family: monospace;
  letter-spacing: 0px;
  font-size: 2rem;
  white-space: normal;
  word-break: break-word;
  overflow: hidden;
  display: inline-block;
  color: var(--primary-clr);
  font-size: 28px;
}

.typed-text {
  color: var(--tertiary-clr);
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  color: var(--accent-clr, #00f);
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .typewriter {
    font-size: 32px;
  }
}
